@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  position: relative;
}

p {
  line-height: 1.5;
}

li {
  list-style-type: none;
}

.purple {
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}

input {
  border: none;
  flex-grow: 2;
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

.btn {
  --tw-text-opacity: 1;
  background-color: rgb(100 21 255 / var(--tw-text-opacity));
  padding: 16px 32px;
  color: white;
  border-radius: 50px;
  transition: all 300ms ease;
  font-weight: bold;
  white-space: nowrap;
  max-width: 200px;
  border: none;
  cursor: pointer;
}

/* NAV BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  transition: all 300ms ease;
}

.nav__link {
  margin: 0 24px;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 4px;
  transition: all 300ms ease;
  border-bottom: 3px solid transparent;
}

.nav__link:hover {
  color: #5522ad;
  border-color: #5522ad;
}

.logo__img {
  width: 50px;
  margin-right: 16px;
}

.logo__text {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
  transition: all 300ms ease;
}

.logo__text:hover {
  color: #5522ad;
}

.nav__container {
  width: 100%;
  max-width: 1400px;
  padding: 36px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.nav__link--style {
  margin-left: 48px;
}

.btn:hover {
  background-color: #5522ad;
}

/* HEADER */

.header__wrapper {
  display: flex;
}

.header__input {
  position: relative;
  max-width: 448px;
  text-align: center;
}

.email__input {
  width: 100%;
  border: 2px solid #d9dee6;
  border-radius: 50px;
  padding: 24px 192px 24px 32px;
  font-size: 16px;
  font-weight: lighter;
  outline: none;
  transition: all 300ms ease;
}

.email__input:hover {
  border-color: rgb(157, 179, 207);
}

.email__input:focus {
  border-color: #5522ad;
}

.email__btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*HEADER LEFT*/

.header__left {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.header__title {
  font-size: 48px;
}

.header__para {
  margin: 32px 0;
  font-size: 18px;
}
.customer__logos {
  opacity: 0.5;
  margin-top: 80px;
}

.customer__logos p {
  font-weight: bold;
}

.customer__logos img {
  width: 100%;
}
.header__logo {
  width: 100%;
}

/*HEADER RIGHT*/

.header__right {
  max-width: 60%;
}

/*FEATURES*/

.features__title {
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
}

.features__description {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  margin: 16px;
}

.features__para {
  margin: 0 auto;
  text-align: center;
  max-width: 472px;
  padding-bottom: 24px;
}

.services__container {
  display: flex;
  flex-wrap: wrap;
}

.services {
  position: relative;
  margin-top: 32px;
  display: flex;
  width: calc(100% / 3);
  max-width: 384px;
}

.services__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title {
  width: 50%;
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.services__description {
  width: 50%;
  margin-top: 16px;
  font-weight: 500;
  line-height: 2;
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
}

.image__container {
  position: absolute;
  display: flex;
  border: 2px solid rgb(214, 214, 214);
  margin: 0 12px;
  border-radius: 9999px;
  border-width: 1px;
  padding: 20px;
}

/*QUALITY WORK*/

.quality__container--left {
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: none;
}

.quality__title {
  font-size: 16px;
  text-align: left;
  letter-spacing: 2px;
}

.quality__description {
  margin-top: 16px;
  text-align: left;
  font-size: 48px;
}

.quality__para {
  margin-top: 16px;
  text-align: left;
  max-width: 472px;
  padding-bottom: 24px;
}

.quality__wrapper {
  display: flex;
}

.quality__logo {
  width: 100%;
  border: 1px solid rgb(224, 214, 214);
}
.quality__container--right {
  width: 50%;
}

.quality__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
}

/*STEPS*/

.steps__wrapper {
  display: flex;
}

.steps__logo {
  width: 100%;
}

.steps__left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.steps__right {
  margin-left: 48px;
  position: relative;
  top: 6px;
}

.steps__title {
  font-size: 16px;
  text-align: left;
  letter-spacing: 2px;
}
.steps__description {
  font-size: 48px;
  margin: 16px 0 0 0;
}

.steps__list {
  margin-top: 24px;
}

.steps {
  display: flex;
  margin: 16px 0 24px 0;
}

.steps__heading {
  font-size: 16px;
  margin-bottom: 16px;
}
.steps__para {
  max-width: 80%;
}

.steps__list--text {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.steps__number {
  font-size: 36px;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(203 213 224 / var(--tw-text-opacity));
}

/*VALUES*/
.values__container--left {
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: none;
}

.values__title {
  font-size: 16px;
  text-align: left;
  letter-spacing: 2px;
}

.values__description {
  margin-top: 16px;
  text-align: left;
  font-size: 48px;
}

.values__para {
  margin-top: 16px;
  text-align: left;
  max-width: 472px;
  padding-bottom: 24px;
  font-size: 18px;
}

.values__wrapper {
  display: flex;
}

.values__text--wrapper {
  display: flex;
  margin: 16px 0 32px 0;
}

.values__text {
  display: flex;
  flex-direction: column;
}

.values__text--title {
  margin-left: 12px;
  font-size: 24px;
  font-weight: ;
}

.values__icon--left {
  border: 2px solid rgb(173, 238, 207);
  border-radius: 9999px;
  display: flex;
  border-width: 1px;
  padding: 5px;
  color: rgb(39, 103, 73);
  background: rgb(173, 238, 207);
}

.values__icon--right {
  border: 2px solid rgb(228, 179, 179);
  border-radius: 9999px;
  display: flex;
  border-width: 1px;
  padding: 5px;
  color: rgb(155, 44, 44);
  background: rgb(228, 179, 179);
}

.values__top {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.values__text--para {
  line-height: 1.5;
  font-size: 17px;
  width: 90%;
}

.values__container--right {
  width: 50%;
}

.values__btn {
  display: flex;
  justify-content: center;
  max-width: 150px;
}

.values__logo {
  width: 100%;
}

/*PRICING*/

.pricing__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__title {
  font-size: 16px;
  color: rgb(100, 21, 255);
  letter-spacing: 1.6px;
  line-height: 24px;
  font-weight: bold;
}

.pricing__description {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 72px;
  margin-top:16px;
}

.pricing__para {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 29.25px;
  margin-top: 16px;
  max-width: 576px;
  color: rgb(124, 139, 161);
}

.pricing__plans--wrapper {
  display: flex;
  /* flex-wrap:wrap; */
}

.pricing__plan {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  margin: 64px 32px 20px 0;
  text-align: center;
}

.middle__plan {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  margin: 64px 32px 20px 0;
  text-align: center;
}

.pricing__color {
  height: 8px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.color__1 {
  background-image: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.color__2 {
  background-image: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.pricing__plan--header {
  display: flex;
  flex-direction: column;
  border-bottom-style: solid;
  border-right-style: solid;
  font-weight: bold;
  border-left-style: solid;
  border-color: rgb(226, 232, 240);
  padding: 32px 0;
}

.pricing__plan--middle {
  display: flex;
  flex-direction: column;

  font-weight: bold;
  color: rgb(247, 250, 252);
  padding: 32px 0;
}

.pricing__middle {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  line-height: 26px;
  border-top-color: rgb(102, 126, 234);
  border-top-style: solid;
  border-top-width: 2px;
}

.pricing__plan--features {
  display: flex;
  flex-direction: column;
  border-left-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  padding: 32px 0;
  line-height: 26px;
  border-color: rgb(226, 232, 240);
}

.pricing__button {
  border-left-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  padding: 32px 64px;
  line-height: 26px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: rgb(226, 232, 240);
}

.pricing__button--middle {
  padding: 32px 64px;
  line-height: 26px;
  border-top-color: rgb(102, 126, 234);
  border-top-style: solid;
  border-top-width: 2px;
}

.buy__button1 {
  width: 192px;
  background-image: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  transition: all 300ms ease;
}

.buy__button2 {
  padding: 16px 32px;
  color: white;
  border-radius: 50px;
  transition: all 300ms ease;
  color: rgb(70, 15, 179);
  font-weight: bold;
  white-space: nowrap;
  width: 192px;
  background-color: rgb(226, 232, 240);
  border: none;
  cursor: pointer;
}

.buy__button1:hover,
.buy__button2:hover,
.buy__button3:hover {
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.05);
  transform: translate(2px, -2px);
  transition: all 300ms ease;
}

.buy__button3 {
  background-image: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  width: 192px;
  transition: all 300ms ease;
}

.price,
.price__middle {
  font-size: 48px;
  margin: 32px 0;
}

.name,
.name__middle {
  font-size: 20px;
}

.duration__middle {
  letter-spacing: 1.6px;
}

.duration {
  letter-spacing: 1.6px;
  --tw-text-opacity: 1;
  color: rgb(160 174 192 / var(--tw-text-opacity));
  font-weight: bold;
}

.audience {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.audience__mid {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: rgb(247, 250, 252);
}

.pricing__features {
  color: rgb(113, 128, 150);
  margin-top: 20px;
  line-height: 24px;
}

.pricing__features--mid {
  color: rgb(226, 232, 240);
  line-height: 24px;
  margin-top: 20px;
}
